datasets
evaluate
sentencepiece
protobuf
nltk
rouge_score
python-slugify
black
openai
replicate
XlsxWriter
stanza
#spacy
#coreferee
peft
maverick-coref
dacite
sacrebleu
bert_score
openpyxl